.u-section-1 {background-image: url("images/iklan-1-permata-mutiara-maja.jpg")}
.u-section-1 .u-sheet-1 {min-height: 786px}
.u-section-1 .u-text-1 {font-size: 2.25rem; font-weight: 700; text-shadow: 2px 2px 8px rgba(0,0,0,0.4); margin: 550px 570px 0 53px}
.u-section-1 .u-text-2 {font-size: 3.75rem; font-weight: 700; text-shadow: 2px 2px 8px rgba(0,0,0,0.4); margin: -17px 338px 0 53px}
.u-section-1 .u-text-3 {font-weight: 700; font-size: 1.875rem; margin: 11px 703px 60px 53px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-text-1 {margin-right: 423px; margin-left: 0}
.u-section-1 .u-text-2 {margin-right: 191px; margin-left: 0}
.u-section-1 .u-text-3 {margin-right: 556px; margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-right: 203px}
.u-section-1 .u-text-2 {margin-right: 0}
.u-section-1 .u-text-3 {margin-right: 336px} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {margin-right: 23px}
.u-section-1 .u-text-3 {margin-right: 156px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {margin-right: 0}
.u-section-1 .u-text-3 {margin-right: 0} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-image-1 {width: 570px; height: 96px; margin: 161px auto 0}
.u-section-2 .u-image-2 {height: 202px; margin: 41px auto 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-image-2 {margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 495px}
.u-section-2 .u-image-1 {width: 540px; height: 91px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 461px}
.u-section-2 .u-image-1 {width: 340px; height: 57px} }.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-text-1 {font-weight: 700; font-size: 1.25rem; margin: 20px 0 0}
.u-section-3 .u-image-1 {height: 414px; margin: 37px auto 0 0} 

@media (max-width: 1199px){ .u-section-3 .u-image-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 495px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 461px} }.u-section-4 {margin-top: 0; margin-bottom: 0}
.u-section-4 .u-sheet-1 {min-height: 612px}
.u-section-4 .u-text-1 {width: 740px; margin: 86px auto 0}
.u-section-4 .u-list-1 {min-height: 388px; grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px); grid-template-rows: auto; width: 1140px; grid-gap: 10px 10px; margin: 39px auto 60px 0}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-icon-1 {height: 100px; width: 100px; background-image: none; margin: 0 auto}
.u-section-4 .u-text-2 {margin: 30px 60px 0 47px}
.u-section-4 .u-text-3 {margin: 20px auto 0 0}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-icon-2 {height: 100px; width: 100px; background-image: none; margin: 0 auto}
.u-section-4 .u-text-4 {margin: 30px 60px 0 47px}
.u-section-4 .u-text-5 {margin: 20px auto 0 0}
.u-section-4 .u-container-layout-3 {padding: 30px}
.u-section-4 .u-icon-3 {height: 100px; width: 100px; background-image: none; margin: 0 auto}
.u-section-4 .u-text-6 {margin: 30px 60px 0 47px}
.u-section-4 .u-text-7 {margin: 20px auto 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-list-1 {min-height: 320px; grid-template-columns: repeat(3, calc(33.333333333333336% - 7px)); width: 940px; height: auto}
.u-section-4 .u-text-2 {margin-left: 38px; margin-right: 49px; width: 119px}
.u-section-4 .u-text-4 {margin-left: 0; margin-right: 0; width: 119px}
.u-section-4 .u-text-6 {margin-left: 0; margin-right: 0; width: 119px} }

@media (max-width: 991px){ .u-section-4 .u-text-1 {width: 720px}
.u-section-4 .u-list-1 {min-height: 735px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); width: 720px}
.u-section-4 .u-text-2 {margin-left: 29px; margin-right: 37px} }

@media (max-width: 767px){ .u-section-4 .u-text-1 {width: 540px}
.u-section-4 .u-list-1 {grid-template-columns: repeat(1, calc(100% - 0)); width: 540px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-2 {margin-left: 23px; margin-right: 29px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-text-1 {width: 340px}
.u-section-4 .u-list-1 {grid-template-columns: 100%; width: 340px}
.u-section-4 .u-text-2 {margin-left: 14px; margin-right: 18px} }.u-section-5 .u-sheet-1 {min-height: 302px}
.u-section-5 .u-list-1 {min-height: 203px; grid-gap: 10px 10px; grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px); grid-template-rows: auto; margin: 50px auto 50px 0}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-icon-1 {height: 64px; width: 64px; margin: 0 auto}
.u-section-5 .u-text-1 {margin: 30px auto 0}
.u-section-5 .u-container-layout-2 {padding: 30px}
.u-section-5 .u-icon-2 {height: 64px; width: 64px; margin: 0 auto}
.u-section-5 .u-text-2 {margin: 30px auto 0}
.u-section-5 .u-container-layout-3 {padding: 30px}
.u-section-5 .u-icon-3 {height: 64px; width: 64px; margin: 0 auto}
.u-section-5 .u-text-3 {margin: 30px auto 0} 

@media (max-width: 1199px){ .u-section-5 .u-list-1 {min-height: 167px; grid-template-columns: repeat(3, calc(33.333333333333336% - 7px)); height: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 317px}
.u-section-5 .u-list-1 {min-height: 217px; grid-template-columns: repeat(3, calc(33.3333% - 7px)); margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 574px}
.u-section-5 .u-list-1 {min-height: 489px; grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px)); margin-right: initial; margin-left: initial}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-5 .u-list-1 {grid-template-columns: repeat(1, calc(100% - 0)); margin-right: initial; margin-left: initial} }.u-section-6 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-image-1 {min-height: 907px; background-image: url("images/gratis-dari-permata-mutiara-maja.jpg")} 

@media (max-width: 1199px){ .u-section-6 .u-image-1 {min-height: 500px} }.u-section-7 .u-sheet-1 {min-height: 500px}
.u-section-7 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-7 .u-image-1 {min-height: 400px; background-image: url("images/permata-mutiara-maja-real-magnolia.jpg")}
.u-section-7 .u-container-layout-1 {padding: 30px}
.u-section-7 .u-layout-cell-2 {min-height: 400px}
.u-section-7 .u-container-layout-2 {padding: 30px}
.u-section-7 .u-text-1 {font-weight: 700; font-size: 1.25rem; margin: 0 311px 0 0}
.u-section-7 .u-text-2 {font-size: 1.25rem; margin: 15px auto 0 0}
.u-section-7 .u-text-3 {font-size: 1.25rem; margin: 6px auto 0 0}
.u-section-7 .u-text-4 {font-size: 1.125rem; margin: 16px auto 0 0}
.u-section-7 .u-text-5 {margin: 13px auto 0 0}
.u-section-7 .u-text-6 {font-size: 1.5rem; margin: 11px auto 0 0}
.u-section-7 .u-text-7 {font-size: 1.125rem; margin: 11px auto 0 0} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 430px}
.u-section-7 .u-layout-wrap-1 {position: relative}
.u-section-7 .u-image-1 {min-height: 330px}
.u-section-7 .u-layout-cell-2 {min-height: 330px}
.u-section-7 .u-text-1 {margin-right: 211px}
.u-section-7 .u-text-5 {width: 124px}
.u-section-7 .u-text-6 {width: 377px; height: 38px} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 353px}
.u-section-7 .u-image-1 {min-height: 253px}
.u-section-7 .u-layout-cell-2 {min-height: 100px}
.u-section-7 .u-text-1 {margin-right: 101px} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 860px}
.u-section-7 .u-image-1 {min-height: 380px}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 578px}
.u-section-7 .u-image-1 {min-height: 239px}
.u-section-7 .u-text-1 {margin-right: 0} }.u-section-8 .u-sheet-1 {min-height: 463px}
.u-section-8 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 3px}
.u-section-8 .u-image-1 {min-height: 400px; background-image: url("images/perumahan-real-lavender-permata-mutiara-maja.jpg")}
.u-section-8 .u-container-layout-1 {padding: 30px}
.u-section-8 .u-layout-cell-2 {min-height: 400px}
.u-section-8 .u-container-layout-2 {padding: 30px}
.u-section-8 .u-text-1 {margin-top: 0; font-weight: 700; font-size: 1.25rem; margin-bottom: 0}
.u-section-8 .u-text-2 {font-size: 1.25rem; margin: 14px 0 0}
.u-section-8 .u-text-3 {font-size: 1.25rem; margin: 8px auto 0 0}
.u-section-8 .u-text-4 {font-size: 1.125rem; margin: 13px auto 0 0}
.u-section-8 .u-text-5 {font-size: 1rem; margin: 15px auto 0 0}
.u-section-8 .u-text-6 {font-size: 1.5rem; margin: 15px auto 0 0}
.u-section-8 .u-text-7 {font-size: 1.125rem; margin: 14px 169px 0 0} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 430px}
.u-section-8 .u-layout-wrap-1 {position: relative}
.u-section-8 .u-image-1 {min-height: 330px}
.u-section-8 .u-layout-cell-2 {min-height: 330px}
.u-section-8 .u-text-7 {margin-right: 69px} }

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 353px}
.u-section-8 .u-image-1 {min-height: 253px}
.u-section-8 .u-layout-cell-2 {min-height: 100px}
.u-section-8 .u-text-7 {margin-right: 0} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: 860px}
.u-section-8 .u-image-1 {min-height: 380px}
.u-section-8 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 578px}
.u-section-8 .u-image-1 {min-height: 239px} }.u-section-9 .u-sheet-1 {min-height: 500px}
.u-section-9 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-9 .u-layout-cell-1 {min-height: 400px}
.u-section-9 .u-container-layout-1 {padding: 30px}
.u-section-9 .u-image-1 {height: 242px; margin: 0 auto 0 0}
.u-section-9 .u-btn-1 {font-weight: 700; margin: 33px auto 0}
.u-section-9 .u-layout-cell-2 {min-height: 400px}
.u-section-9 .u-container-layout-2 {padding: 30px}
.u-section-9 .u-image-2 {height: 242px; width: 510px; margin: 0}
.u-section-9 .u-btn-2 {font-weight: 700; margin: 33px auto 0} 

@media (max-width: 1199px){ .u-section-9 .u-sheet-1 {min-height: 434px}
.u-section-9 .u-layout-wrap-1 {position: relative}
.u-section-9 .u-layout-cell-1 {min-height: 330px}
.u-section-9 .u-image-1 {height: 195px; margin-right: initial; margin-left: initial}
.u-section-9 .u-layout-cell-2 {min-height: 330px}
.u-section-9 .u-image-2 {height: 195px; width: 410px} }

@media (max-width: 991px){ .u-section-9 .u-sheet-1 {min-height: 658px}
.u-section-9 .u-layout-cell-1 {min-height: 100px}
.u-section-9 .u-image-1 {height: 143px; margin-right: initial; margin-left: initial}
.u-section-9 .u-layout-cell-2 {min-height: 100px}
.u-section-9 .u-image-2 {height: 143px; width: 300px} }

@media (max-width: 767px){ .u-section-9 .u-sheet-1 {min-height: 1724px}
.u-section-9 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-image-1 {height: 248px; margin-right: initial; margin-left: initial}
.u-section-9 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-9 .u-sheet-1 {min-height: 1132px}
.u-section-9 .u-image-1 {height: 153px; margin-right: initial; margin-left: initial} }.u-section-10 {min-height: 863px}
.u-section-10 .u-group-1 {min-height: 198px; margin: 40px auto 0 0}
.u-section-10 .u-container-layout-1 {padding: 1px 30px 3px}
.u-section-10 .u-image-1 {width: 354px; height: 205px; margin: -75px 66px 0 auto}
.u-section-10 .u-text-1 {font-size: 3rem; line-height: 1.3; margin: -122px 651px 0 32px}
.u-section-10 .u-image-2 {width: 83px; height: 106px; margin: 101px auto 0 calc(((100% - 1140px) / 2) + 190px)}
.u-section-10 .u-image-3 {width: 423px; height: 167px; margin: 23px auto 0 calc(((100% - 1140px) / 2) + 20px)}
.u-section-10 .u-image-4 {width: 310px; height: 568px; margin: -342px calc(((100% - 1140px) / 2)) 0 auto}
.u-section-10 .u-image-5 {width: 192px; height: 66px; margin: -106px calc(((100% - 1140px) / 2) + 350px) 40px auto} 

@media (max-width: 1199px){ .u-section-10 .u-group-1 {margin-right: initial; margin-left: initial}
.u-section-10 .u-text-1 {margin-top: -121px; margin-right: 483px; margin-left: 0}
.u-section-10 .u-image-2 {margin-left: calc(((100% - 940px) / 2) + 190px)}
.u-section-10 .u-image-3 {margin-left: calc(((100% - 940px) / 2) + 20px)}
.u-section-10 .u-image-4 {margin-top: -341px; margin-right: calc(((100% - 940px) / 2))}
.u-section-10 .u-image-5 {margin-right: calc(((100% - 940px) / 2) + 350px)} }

@media (max-width: 991px){ .u-section-10 .u-text-1 {margin-right: 263px}
.u-section-10 .u-image-2 {margin-left: calc(((100% - 720px) / 2) + 190px)}
.u-section-10 .u-image-3 {margin-left: calc(((100% - 720px) / 2) + 20px)}
.u-section-10 .u-image-4 {margin-right: calc(((100% - 720px) / 2))}
.u-section-10 .u-image-5 {margin-right: calc(((100% - 720px) / 2) + 350px)} }

@media (max-width: 767px){ .u-section-10 {min-height: 751px}
.u-section-10 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-text-1 {margin-right: 123px}
.u-section-10 .u-image-2 {margin-left: calc(((100% - 540px) / 2) + 190px)}
.u-section-10 .u-image-3 {margin-left: calc(((100% - 540px) / 2) + 20px)}
.u-section-10 .u-image-4 {margin-right: calc(((100% - 540px) / 2))}
.u-section-10 .u-image-5 {margin-right: calc(((100% - 540px) / 2) + 348px)} }

@media (max-width: 575px){ .u-section-10 {min-height: 666px}
.u-section-10 .u-image-1 {width: 320px; height: 185px; margin-right: 0}
.u-section-10 .u-text-1 {margin-top: -101px; margin-right: 0}
.u-section-10 .u-image-2 {margin-left: calc(((100% - 340px) / 2) + 190px)}
.u-section-10 .u-image-3 {width: 340px; height: 134px; margin-left: calc(((100% - 340px) / 2))}
.u-section-10 .u-image-4 {margin-top: -308px; margin-right: calc(((100% - 340px) / 2))}
.u-section-10 .u-image-5 {margin-right: calc(((100% - 340px) / 2) + 148px)} }